/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2b2b2b;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.logo h1 {
    color: #fff;
}

.hero {
    background: url('music-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b2b2b;
}

.hero-content {
    text-align: center;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.buttons .btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
}

.primary-btn {
    background-color: #ff6347;
    color: white;
    margin-right: 10px;
}

.secondary-btn {
    background-color: #fff;
    color: #333;
}

.features {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.features h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.features ul {
    list-style-type: none;
}

.features li {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2b2b2b;
    color: white;
}
